/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-logo, .nav-link {
    color: #fff; /* 默认颜色 */
    text-decoration: none;
  }
  
  .navbar-logo:hover, .nav-link:hover {
    color: #4b59f7; /* 鼠标悬停颜色 */
  }
  
  .navbar-logo:visited, .nav-link:visited {
    color: #fff; /* 已访问链接颜色 */
  }
  
  .navbar-logo:active, .nav-link:active {
    color: #4b59f7; /* 激活状态颜色 */
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  /* Login.css */
.login-container {
  width: 100%;
  max-width: 400px; /* 限制最大宽度 */
  margin: auto; /* 水平居中显示 */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  background-color: #f9f9f9; /* 背景色 */
}

.login-container h2 {
  text-align: center; /* 标题居中 */
}

.login-container form {
  margin-top: 20px; /* 表单顶部间距 */
}

.input-group {
  margin-bottom: 15px; /* 输入组件间距 */
}

.input-group input {
  width: 100%; /* 宽度为100% */
  padding: 8px; /* 内边距 */
  border: 1px solid #ccc; /* 边框 */
  border-radius: 4px; /* 圆角 */
}

/* Login.css */
.button-group {
  display: flex; /* 使用Flexbox布局 */
  flex-direction: column; /* 垂直排列按钮 */
  gap: 20px; /* 按钮之间的间隔 */
}

.button-group button {
  width: 100%; /* 按钮宽度填满容器 */
  padding: 22px; /* 增加内边距使按钮更易点击 */
  margin-top: 10px; /* 每个按钮顶部的外边距 */
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none; /* 移除点击后的轮廓 */
}

.button-group button:hover {
  background-color: #0056b3;
}

.button-group button.secondary {
  background-color: #6c757d; /* 灰色背景的次要按钮 */
}

.button-group button.secondary:hover {
  background-color: #5a6268;
}

.button-group button {
  margin-top: 10px !important; /* 使用!important确保样式应用 */
}

.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

  
  